<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>반갑습니다. <%= login_id %></h1>
      <input type="button" value="게시판으로 가기" onclick="window.location.href='http://localhost:3000/'">
  </body>
</html>







