<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--익스플로어 최신버전으로 랜더링-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--기종에 따른 넓이고정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <title> 청남대</title>

    <!--  안드로이드(Android) -->
    <link rel="shortcut icon" href="/images/icon32x32.png" />
    <!-- iPhone icon(Retina) -->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon114x114.png" />

    <!--css normalize CDN-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
 
    <!--  style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--jquery library CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/sidebar.min.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

    <!-- swiper plugin CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js"></script>
    <style type="text/css">
    

    </style>
</head>

<body id="body">
    <div class="page1 wrap pusher">
       <div class="container">
           <header class="header">
            <h1>청남대 둘러보기</h1>
            <button type="button" class="icon back">
                <span>뒤로가기</span>
            </button>
            <button type="button" class="icon menu">
                <span>메뉴</span>
            </button>
           </header>
           <main class="contents">
                 <!-- Swiper -->
                <div class="swiper-container tabMenu">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-hash="slide1">대통령기념관</div>
                  <div class="swiper-slide" data-hash="slide2">하늘정원</div>
                  <div class="swiper-slide" data-hash="slide3">국화축제</div>
                  <div class="swiper-slide" data-hash="slide4">청남대본관</div>
                  <div class="swiper-slide" data-hash="slide5">전망대</div>
                  <div class="swiper-slide" data-hash="slide6">대통령광장</div>
                  <div class="swiper-slide" data-hash="slide7">돌탑</div>
                  <div class="swiper-slide" data-hash="slide8">음악분수대</div>
                  <div class="swiper-slide" data-hash="slide9">영춘재</div>
                </div>
              </div>

              <div class="swiper-container tabContents">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!-- 콘텐츠 시작 -->
                    <h2 class="title">대통령기념관</h2>
                    <div class="swiper-container swiper-images"> 
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/img_01_01.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/img_01_02.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/img_01_03.jpg" alt="">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="comment">
                        대통령 테마 및 현대사 교육의 장으로 연면적 2,838㎡다. 지하층은 대통령 체험장(국무회의장, 대국민연설, 정상회담, 의장대 사열, 대통령24시 등), 1층은 역대대통령 기록화 20점이 전시되어 있으며, 2층은 200석 규모의 세미나실이 있다.
                    </div>
                    <div class="map"><a href="http://map.daum.net/?urlX=609968&urlY=823767&urlLevel=3&map_type=TYPE_MAP&map_hybrid=false&SHOWMARK=true" target="_blank"><span style="background:#000;position:absolute;width:100%;opacity:.7;filter:alpha(opacity=70);color:#fff;overflow:hidden;font:12px/1.5 Dotum, '돋움', sans-serif;text-decoration:none;padding:7px 0px 0px 10px; height: 24px;">지도를 클릭하시면 위치정보를 확인하실 수 있습니다.</span><img width="100%"  src="http://map2.daum.net/map/mapservice?MX=609968&MY=823767&SCALE=2.5&IW=565&IH=308&COORDSTM=WCONGNAMUL" style="border:1px solid #ccc"></a></div>
                    <!-- 컨텐츠 끝 -->
                  </div>
                  <div class="swiper-slide" data-hash="slide2">
                      <!-- 콘텐츠 시작 -->
                    <h2 class="title">하늘정원</h2>
                    <div class="swiper-container swiper-images"> 
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/img_01_01.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/img_01_02.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/img_01_03.jpg" alt="">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="comment">
                        대통령 테마 및 현대사 교육의 장으로 연면적 2,838㎡다. 지하층은 대통령 체험장(국무회의장, 대국민연설, 정상회담, 의장대 사열, 대통령24시 등), 1층은 역대대통령 기록화 20점이 전시되어 있으며, 2층은 200석 규모의 세미나실이 있다.
                         대통령 테마 및 현대사 교육의 장으로 연면적 2,838㎡다. 지하층은 대통령 체험장(국무회의장, 대국민연설, 정상회담, 의장대 사열, 대통령24시 등), 1층은 역대대통령 기록화 20점이 전시되어 있으며, 2층은 200석 규모의 세미나실이 있다.
                    </div>
                    <div class="map"><a href="http://map.daum.net/?urlX=609968&urlY=823767&urlLevel=3&map_type=TYPE_MAP&map_hybrid=false&SHOWMARK=true" target="_blank"><span style="background:#000;position:absolute;width:100%;opacity:.7;filter:alpha(opacity=70);color:#fff;overflow:hidden;font:12px/1.5 Dotum, '돋움', sans-serif;text-decoration:none;padding:7px 0px 0px 10px; height: 24px;">지도를 클릭하시면 위치정보를 확인하실 수 있습니다.</span><img width="100%"  src="http://map2.daum.net/map/mapservice?MX=609968&MY=823767&SCALE=2.5&IW=565&IH=308&COORDSTM=WCONGNAMUL" style="border:1px solid #ccc"></a></div>
                    <!-- 컨텐츠 끝 -->
                  </div>
                  <div class="swiper-slide" data-hash="slide3">국화축제</div>
                  <div class="swiper-slide" data-hash="slide4">청남대본관</div>
                  <div class="swiper-slide" data-hash="slide5">전망대</div>
                  <div class="swiper-slide" data-hash="slide6">대통령광장</div>
                  <div class="swiper-slide" data-hash="slide7">돌탑</div>
                  <div class="swiper-slide" data-hash="slide8">음악분수대</div>
                  <div class="swiper-slide" data-hash="slide9">영춘재</div>
                </div>
              </div>

              

               <!-- Initialize Swiper -->
              <script>
                var tabContents = new Swiper('.tabContents', {
                  spaceBetween: 10,
                  hashNavigation: true,
                });
                var tabMenu = new Swiper('.tabMenu', {
                  spaceBetween: 30,
                  centeredSlides: true,
                  slidesPerView: 'auto',
                  touchRatio: 0.2,
                  slideToClickedSlide: true,
                  hashNavigation: true,
                });
                tabContents.controller.control = tabMenu;
                tabMenu.controller.control = tabContents;

                var swiperImges = new Swiper('.swiper-images', {
                  pagination: {
                    el: '.swiper-pagination',
                  },
                });
              </script> 
           </main>
       </div>
    </div>
  
    
</body>

</html>
