<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--익스플로어 최신버전으로 랜더링-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--기종에 따른 넓이고정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <title> 청남대</title>

    <!--  안드로이드(Android) -->
    <link rel="shortcut icon" href="/images/icon32x32.png" />
    <!-- iPhone icon(Retina) -->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon114x114.png" />

    <!--css normalize CDN-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
 
    <!--  style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--jquery library CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/sidebar.min.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>

    <!-- swiper plugin CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js"></script>
    <style type="text/css">
    

    </style>
</head>

<body id="body">
    <div class="page4 wrap pusher">
       <div class="container">
           <header class="header">
            <h1>이용안내</h1>
            <button type="button" class="icon back">
                <span>뒤로가기</span>
            </button>
            <button type="button" class="icon menu">
                <span>메뉴</span>
            </button>
           </header>
           <main class="contents">
             
           </main>
       </div>
    </div>
  
</body>

</html>
